
p{
  text-align: center;

}
.p1{
  background-color: lemonchiffon;
  height:550px ;
  font-size: 20px;
  

  
 }
.p2{
  background-color: indianred;
   height: 550px;
   font-size: 20px;
   font-weight: bold;
   
}
.p3{
  background-color: papayawhip;
   height:550px ;
   font-size: 20px;


}
.row{
  di splay: flex;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
}

.collapse {
  background-color: gainsboro;}

  .ts{
   background-image: url("https://thumbs.dreamstime.com/b/beautiful-wooden-background-napkin-knife-fork-fine-background-menu-restaurants-cafes-63054686.jpg");
  }
h3{
  font-weight: bold;
}
.footer{
 font-size: 30px;
text-align: center;
font-weight: bold;
color: white;


}
.col-md-4{
  height: 700px;
}
  



  

